@import "./../../../styles.scss";

section {
  height: 100vh;
  text-align: center;
  @include padding(0 160px);
  @include dFlex($fd: column, $g: 32px);

  > div {
    width: 100%;
    position: absolute;
    top: 0;
    @include fontStyle($fs: 24px, $fw: normal)
  }

  @include backgroundStyle(
    $url: url("./../../../assets/img/1_hero/JPG/hero_bg.jpg")
  );
  > h1 {
    @include fontStyle($c: whitesmoke, $fs: 96px);
  }
  > h2 {
    @include fontStyle($c: whitesmoke, $fs: 24px);
  }
}
